.browse {
  display: flex;
  flex-direction: column;
}

.browse:hover {
  cursor: pointer;
}

.dragDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
  border-style: dashed;
}

.videoInput {
  display: none;
}

.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}
