.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  min-height: 100vh;
}

.textSection {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
}

.count {
  font-size: 24px;
  font-weight: 500;
}

.dropzone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dropzone:hover {
  cursor: pointer;
}

.dragDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 40px 40px 40px 40px;
  aspect-ratio: 16/9;
  border-radius: 20px;
  border-style: dashed;
}

.videoInput {
  display: none;
}

.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}
