.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 20px 20px 20px 20px;
  height: fit-content;
  align-items: center;
}

.logoName {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}

.link {
  display: flex;
  flex-direction: row;
  width: fit-content;
  text-decoration: none;
  align-items: center;
}

.upload {
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}

.upload:hover {
  color: lightseagreen;
  transition: 200ms ease-in;
}
