.container {
  margin-bottom: 10px;
}

.inputField {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  /* border: medium none !important; */
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.menu {
  margin-left: 5px;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.gameIcon {
  border-radius: 50%;
}

.gameTitle {
  margin-left: 8px;
}

.removeGame {
  margin-left: auto;
}
