.container {
  margin-bottom: 10px;
}

.inputField {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  /* border: medium none !important; */
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
