.container {
  min-height: 100vh;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}

.mobile {
  display: flex;
  flex-direction: column;
}
.web {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
}

.post {
  border-radius: 10px 10px;
  margin-right: 20px;
}

.meta {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.16);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.titleText {
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 450;
}

.subtitleText {
  font-size: 12px;
  margin-left: 8px;
}

.picture {
  border-radius: 10px;
}

.names {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  justify-content: center;
}

.username {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameIcon {
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.videoWeb {
  width: 100%;
  height: auto;
}

.videoMobile {
  width: 90vw;
  height: auto;
  justify-content: center;
  align-items: center;
}
