.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
}

.mobile {
  grid-template-rows: 3fr 2fr;
  row-gap: 20px;
}

.web {
  grid-template-columns: 3fr 2fr;
  column-gap: 20px;
}

.browse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  display: grid;
  min-height: 90vh;
  min-width: 90vw;
}

.dragDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64vw;
  aspect-ratio: 16/9;
  border-radius: 20px;
  border-style: dashed;
}

.videoInput {
  display: none;
}

.thumbnail {
  position: relative;
  width: 60vw;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
