.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
}

.textSection {
  display: flex;
  flex-direction: column;
}

.title {
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

.subtitles {
  padding-left: 10px;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
}
